


.conteneur{
	/*border: 2px solid black;*/
	height: 300px;
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	justify-content: center;

}

button{
	width: 100px;
	height: 50px;
}

/*button:first-child{
	background-color: #F1A;
	color: white;
}*/