


.conteneur{
	/*border: 2px solid black;*/
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	width: 50%;
	margin: auto;



}

.conteneur div{
	margin-bottom: 100px;
}

button{
	width: 100px;
	height: 50px;
}

/*button:first-child{
	background-color: #F1A;
	color: white;
}*/


button:focus{
		background-color: #F1A;
		color: white;

}
/*p{
	display: none;
}*/

